
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
* {
  padding: 0;
  margin: 0;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('images/raindrops.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#logo{
    color: rgb(38, 45, 50);
}
#logo em{
    color: red;
    font-size: 35px;
}
.container{
  backdrop-filter: blur(10px);
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}
h1{
  margin: 20px 0;
  color: #fff;
}
input{
  outline: none;
  border: 1px solid #ffffff40;
  border-radius: 5px;
  background-color: #ffffff40;
  padding: 10px 7px ;
  margin: 10px 0 ;
  color: #fff;
  font-weight: bold;
}
#search{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
button:hover{
  background-color: rgb(212, 13, 13);
}
button{
  padding: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: red;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  margin: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#temperature,#humidity,#wind,#cityName2{
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  color: white;
  margin: 2px 0;
  background-color: rgba(255, 255, 255, 0.139);
}

#hidden{
  flex-direction: column;
}
