* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #14215b;
    color: white;
    border-bottom: 1px solid #464646;
}

.active {
    font-weight: bold;
    color: #a3ff00;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul li {
    list-style-type: none;

}

.logo {
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
}

.logo em {
    color: #a3ff00;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight:500;
    position: relative;
    cursor: pointer;
}
nav ul li a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: 0;
    background: #a3ff00;
    transition: width 0.3s ease;
}

nav ul li a:hover::after{
    width: 100%;
}


nav ul li a:hover {
    color: #a3ff00;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#search {
    padding: 3.5px;
    outline: none;
}

#searchBtn {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #ff0000;
    color: #fff;
    border: 1px solid red;
    border-radius: 2px;
}

/* Navbar finished */

#products {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#product-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

#banner-img {
    width: 40vw;
    border-radius: 10px;
}

@media (max-width:650px) {
    #banner-img {
        width: 60vw;
    }
}

@media (max-width:450px) {
    #banner-img {
        width: 95vw;
    }
}

#cart i:hover {
    cursor: pointer;
    color: #a3ff00;
}

.addToCart:hover {
    color: #a3ff00;
}

.card {
    margin: 40px 10px;
    display: flex;
    height: 330px;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    flex-direction: column;
    border-radius: 5px;
    width: 300px;
    border: 1px solid #464646;
}

.card:hover {
    box-shadow: 0 0 5px #464646;
}

.card img {
    width: 300px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #46464631;
}

.card h2 {
    color: #000;
    margin: 4px 0;
}

.card p {
    font-weight: bold;
    color: red;
    margin-top: auto;
}

.card button {
    display: flex;
    padding: 5px;
    margin-top: auto;
    margin-bottom: 5px;
    width: 190px;
    background-color: #11219b;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #11219b;
}

.card button a {
    text-decoration: none;
    color: #fff;
}

.card button a:hover {
    color: #a3ff00;
}


.herosection {
    display: flex;
    align-items: center;
}

#noProduct {
    color: red;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    height: 100vh;
    text-align: center;
}

footer {
    background-color: #14215b;
    height: 25vh;
    color: #fff;
    text-align: center;

}


footer .logo {
    color: #fff;
}

#icons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

footer i {
    margin: 30px 4px;
    font-size: 25px;
    cursor: pointer;
    border: none;
}

footer a {
    color: #fff;
}

#fa-github:hover,
#fa-facebook:hover {
    box-shadow: 0 0 15px #a3ff00;
    color: #a3ff00;
    border-radius: 50%;
}

#fa-youtube:hover {
    border-radius: 5px;
    background-color: transparent;
    padding: 0;
    box-shadow: 0 0 2px #a3ff00;
    color: #a3ff00;
}

#copy {
    font-size: 15px;
    font-weight: bold;
    color: #ffffffa1;
    margin: 10px;
}

.about #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;

}

.about #introduction {
    display: flex;
    width: 60vw;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #464646;
    border-radius: 10px;
    box-shadow: 0 0 5px #464646;

    color: #464646;
    font-size: 18px;
}

#introduction h1 {
    color: #14215b;
}

.about #features {
    display: flex;
    width: 60vw;
    font-size: 18px;
    color: #464646;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #464646;
    border-radius: 10px;
    box-shadow: 0 0 5px #464646;
}

#features h2 {
    color: #14215b;
}

.login .container {
    height: 100vh;
    display: flex;
    transition: all 0.3s;
    align-items: center;
    justify-content: center;
}

.login .container form {
    display: flex;
    height: 400px;
    justify-content: center;
    width: 40vw;
    box-shadow: 0 0 10px #464646;
    flex-direction: column;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #464646;
    padding: 10px;
}

.login #javascript {
    width: 30vw;
    margin-top: 6px;
    height: 421px;
    box-shadow: 0 0 10px #464646;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.login .container form input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #464646;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
}

.login .container form input:focus {
    border: 2px solid #14215b;
}

.login .container form #submit {
    background-color: #14215b;
    color: white;
    border: 1px solid #14215b;
    cursor: pointer;
}

.login .container form #submit:hover {
    color: #a3ff00;
}

@media (max-width:550px) {
    .login .container form {
        width: 90vw;
        border-radius: 10px;
    }

    .login #javascript {
        display: none;
    }
}


.contact .container {
    height: 100vh;
    display: flex;
    transition: all 0.3s;
    align-items: center;
    justify-content: center;
}



.contact .container form {
    display: flex;
    height: 60vh;
    justify-content: center;
    width: 50vw;
    box-shadow: 0 0 10px #464646;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #464646;
    padding: 20px;
}

.contact .container form input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #464646;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    margin: 10px;
}

.contact .container form input:focus {
    border: 2px solid #14215b;
}

.contact .container form #submit {
    background-color: #14215b;
    color: white;
    border: 1px solid #14215b;
    cursor: pointer;
}

.contact .container form #submit:hover {
    color: #a3ff00;
}

@media (max-width:550px) {
    .contact .container form {
        width: 90vw;
    }
}

#close {
    display: none;
}

#close2 {
    display: flex;
    width: fit-content;
    margin: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px;
    background-color: #14215b
}

#close2:hover {
    color: #a3ff00;
    background-color: #4646467a;
}

#hamburger {
    background-color: transparent;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #14215b;
}

#hamburger:hover {
    color: #a3ff00;
}

@media (max-width:679px) {
    #menu {
        display: none;
        flex-direction: column;
        background-color: #14215b;
        position: fixed;
        top: 12px;
        padding: 20px;
        right: 0;
        z-index: 998;
        height: 100vh;
        width: 200px;
        align-items: start;
    }

    #hamburger {
        display: flex;
    }

    #close {
        display: flex;
        width: 95%;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        color: #fff;
        border: 1px solid #fff;
        padding: 15px;
        background-color: #14215b
    }

    #close:hover {
        color: #a3ff00;
        background-color: #4646467a;
    }

    #menu li {
        margin: 3px 0;
        width: 95%;
        padding: 15px;
    }

    #menu li:hover {
        background-color: #4646467a;
        cursor: pointer;
    }
}

@media (max-width:409px) {
    .search {
        position: absolute;
        top: 55px;
    }
}

#cartBox {
    display: none;
    right: 10px;
    color: #fff;
    flex-direction: column;
    background-color: #14215b;
    position: fixed;
    height: 80vh;
    padding: 2px;
    width: 60vw;
    z-index: 999;
    border-radius: 10px;
}


#cartBox h2 {
    text-align: center;
    margin: 2px;
    margin-left: 30%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    font-style: italic;
}

.cart-products {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    list-style-type: none;
    text-align: center;
    padding: 10px;
    margin: 5px 5px;
    border: 2px solid #fff;
}

.cart-products img{
    width: 50px;
    margin-right: 10px;
    border-radius: 2px;
    box-shadow: 0 0 5px;
}

#cartItems {
    max-height: 50vh;
    overflow-y: auto;
}

@media (max-width:405px) {
    #cartBox {
        width: 90%;
    }

    #menu {
        width: 90%;
    }
}

#cartBox p {
    text-align: center;
    color: #ff0000;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #464646;
    padding: 10px;
    margin: 10px;
}

#clear {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 4px 0;
    margin-left: auto;
    margin-right: 10px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #ff0000;
    padding: 2px;
    border-radius: 5px;
    background-color: #ff0000
}

#checkoutBtn{
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #464646;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    background-color: #ff0000;
}
#checkoutBtn:hover{
 background-color: #ba1b1b;
}
#checkoutBox{
    display: none;
    align-items: center;
    justify-content: center;
    color: #fff;
     left: 20vw;
    flex-direction: column;
    background-color: #14215b;
    position: fixed;
    height: 80vh;
    padding: 2px;
    width: 60vw;
    z-index: 999;
    border-radius: 10px;
}
#Ok{
   text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #464646;
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    width: 60%;
    background-color: #ff0000;
}
#Ok:hover{
    background-color: #ba1b1b;
}