*{
    padding: 0;margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #3a3a3a;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
}

#calInput{
    font-size: 30px;
    color: #fff;
    padding: 4px;
    border: none;
    text-align: end;
    font-weight: bold;
    border-bottom: 1px solid #b2b2b2;
    background-color: transparent;
    height: 40px;
    width: 250px;
    margin: 20px 0;
}

#calInput::placeholder{
    color: #fff;
}

.container button {
    height: 60px;
    border-radius: 10px;
    border: 1px solid #767272;
    width: 60px;
    background-color: #484848;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 4px 2px;
}

button:hover{
    background-color: #383838;
}

#zero{
    width: 128px;
}

