*{
    padding: 0;margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(#0000004f),center/cover,no-repeat,url('ChatGPT\ Image\ Feb\ 8\,\ 2026\,\ 11_32_54\ AM.png');
    font-family: Arial, Helvetica, sans-serif;
}

h1 em{
    color: red;
    font-size: 40px;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
}

#calInput{
    font-size: 30px;
    color: #fff;
    padding: 4px;
    border: none;
    text-align: end;
    font-weight: bold;
    border-bottom: 1px solid #b2b2b2;
    background-color: transparent;
    height: 40px;
    width: 250px;
    margin: 20px 0;
}

#calInput::placeholder{
    color: #fff;
}

.container button {
    height: 60px;
    border-radius: 10px;
    border: 1px solid #767272;
    width: 60px;
    background-color: rgba(255, 255, 255, 0.066);
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin: 4px 2px;
}

button:hover{
    background-color: #3838386f;
}

#zero{
    width: 128px;
}

